<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web-2</title>
</head>
<body>

<form action="/register" method="POST">
    email: <input type="text" name="email"/>
    password: <input type="password" name="password"/>
    <input type="submit" value="Sign in">
</form>

<form action="/login" method="POST">
    email: <input type="text" name="email"/>
    password: <input type="password" name="password"/>
    <input type="submit" value="Sign in">
</form>

</body>
</html>